body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    padding: 0px;
    border-radius: 12px;
}

.sedans {
    width: 270px;
    height: 470px;
    background-color:#E28525;  
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.suvs {
    width: 270px;
    height: 470px;
    background-color:#016972;
}

.lux {
    width: 270px;
    height: 470px;
    background-color:#00403F;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.learn-more-btn-sed {
    color:#E28525;
    background-color: white; 
    border: none;
    width: 142px;
    height: 45px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 25px;
}

.learn-more-btn-suv {
    color:#016972;
    background-color: white; 
    border: none;
    width: 142px;
    height: 45px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;  
    margin-left: 50px; 
    margin-top: 25px;
}

.learn-more-btn-lux {
    color:#00403F;
    background-color: white; 
    border: none;
    width: 142px;
    height: 45px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 25px;
}

.learn-more-btn-sed:hover {
    color: white;
    background: transparent;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    border: white 2px solid ;
  }

  .learn-more-btn-suv:hover {
    color: white;
    background: transparent;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    border: white 2px solid ;
  }

  .learn-more-btn-lux:hover {
    color: white;
    background: transparent;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    border: white 2px solid ;
  }



.headers {
    font-family: "Big Shoulders Display";
    font-weight: 700;
    color: white;
    font-size: 45px;
    margin-left: 50px;
}

.description {
    color: hsla(0, 0%, 100%, 0.884);
    text-align:start;
    line-height: 1.6;
    max-width: 200px;
    margin-left: 50px;
}

.icons {
    margin-left: 50px;
    margin-top: 40px;
}




@media only screen and (max-width:810px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sedans {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .lux {

        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

}